.body-dark {
    background-color: #262626;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    transition:  all 0.8s ease;
  }

  .buttons-dark {
    border: none;
    width: 50px;
    height: 40px;
    background-color: rgb(59, 59, 59);
    border-radius: 2px;
    transition:  all 0.8s ease;
  }
  
  .buttons-dark:hover {
    background-color: #F2C438;
    transition:  all 0.8s ease;
  }
  
  .icons-dark {
    color: white;
    width: 40px;
    height: 30px;
  }
  
  .header-dark {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-bottom : 1px solid rgba(255, 255, 255, 0.041);
  }
  
  .button {
    display: flex;
    margin-right: 2%;
    width: 10%;
    justify-content: space-between;
  }
  
  .name-dark {
    font-size: 20px;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    transition:  all 0.8s ease;
  }

  .navbar-false-dark {
    position: fixed;
    display: flex;
    margin-top: 4.5%;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    background-color: #F2C438;
    color: #262626;
    height: 100%;
    width: 20%;
    right: -21%;
    transition: all 1s;
  }

  .navbar-true-dark {
    font-size: 21px;
    position: fixed;
    display: flex;
    margin-top: 4.5%;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    background-color: #F2C438;
    color: #262626;
    height: 100%;
    width: 20%;
    right: 0;
    transition: all 0.4s;
  }
  
  .profile-dark {
    border-radius: 20px;
    width: 50%;
    height: 450px;
    margin-top: 6%;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  
  .profile-dark > img {
    width: 25%;
    border-radius: 50%;
    border: 2px solid rgb(150, 145, 145);
    transition:  all 1s ease;
    margin-top: 10%;
    align-self: center;
    margin-bottom: 4%;
  }

  .links-dark {
    padding: 4px;
  }

  .links-dark:hover {
    padding: 4px;
    border-radius: 2px;
    background-color: #262626;
    color: whitesmoke;
  }
