.body-light {
    background-color: #F2EFE9;
    color: #262626;
    height: 100vh;
    width: 100%;
    transition:  all 0.8s ease;
} 

.buttons-light {
    border: none;
    width: 50px;
    height: 40px;
    background-color: rgb(207, 204, 204);
    border-radius: 2px;
    transition:  all 0.8s ease;
  }
  
  .buttons-light:hover {
    background-color: #f5a30c;
    transition:  all 0.8s ease;
  }
  
  .icons-light {
    color: #262626;
    width: 40px;
    height: 30px;
  }
  
  .header-light {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(207, 204, 204, 0.418);
  }
  
  .button {
    display: flex;
    justify-content: space-between;
  }
  
  .name-light {
    font-size: 20px;
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
    transition:  all 0.8s ease;
  }

  .navbar-false-light {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 204, 204);
    background-color: #f5a30c;
    height: 100%;
    width: 20%;
    right: -21%;
    transition: all 1s;
  }

  .navbar-true-light {
    font-size: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 204, 204);
    background-color: #f5a30c;
    height: 100%;
    width: 20%;
    right: 0;
    transition: all 0.4s;
  }

  .profile-light {
    border-radius: 20px;
    width: 60%;
    height: 450px;
    margin-top: 6%;
    padding: 20px;
    font-size: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .profile-light > p > span {
    color: #f5a30c;
  }
  
  .profile-light > img {
    width: 25%;
    border-radius: 50%;
    border: 2px solid #26262648;
    transition:  all 1s ease;
    margin-top: 5%;
    align-self: center;
    margin-bottom: 4%;
  }