@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

body{
  font-family: 'VT323', monospace;
  background-color: #f0e7db;
}
/* .links {
  margin-top: 20%;
  text-align: center;
  list-style: none;
}

.links > li {
  list-style: none;
  margin-top: 80%;
} */
/* 
.redirect {
  list-style: none;
  margin-top: 80%;
  text-decoration: none;
  color: #262626;
} */
/* 
.links-mode {
  padding: 4px;
}

.links-mode:hover {
  color: whitesmoke;
  padding: 4px;
  border-radius: 2px;
  background-color: #262626;
}

main {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
}

.background {
  height: 100vh;
}

.scene {
  height: 100vh;
}


.btn-scene {
  position: fixed;
  right: 20px;
  top: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.icon-question {
  width: 80%;
  height: 80%;
}

.input-scene {
position: fixed;
flex-direction: column;
display: flex;
align-items: center;
justify-content: space-around;
top: 40%;
left: 30%;
background-color: rgba(255, 255, 255, 0.253);
backdrop-filter: blur(5px);
width: 40%;
height: 30%;
border-radius: 30px;
}

.scene input {
  text-align: center;
}

.model {
  position: fixed;
  width: 600px;
  height: 600px;
  top: 10%;
  left: 58%;
} */